<!DOCTYPE html>
<html lang="uk" >

<head>
    <meta charset="utf-8" />
    <title>Bounce Cafe</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--Import Font Roboto-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="libs/materialize/dist/css/materialize.min.css" />
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
</head>

<body data-ng-app="appBouncy">
    <header class="main-header section scrollspy" id="hello">
        <div class="navbar-fixed">
            <nav>
                <div class="container">
                    <div class="row">
                        <div class="nav-wrapper">
                            <a href="/" class="brand-logo">Bouncy</a>
                            <a href="#" data-activates="mobile-menu" class="button-collapse btn-menu"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
                            <ul id="nav-mobile" class="right hide-on-med-and-down section table-of-contents">
                                <li><a href="#hello">Hello</a>
                                </li>
                                <li><a href="#about">About</a>
                                </li>
                                <li><a href="#service">Services</a>
                                </li>
                                <li><a href="#portfolio">Portfolio</a>
                                </li>
                                <li><a href="#team">Team</a>
                                </li>
                                <li><a href="#blog">Blog</a>
                                </li>
                                <li><a href="#contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.row-->
                </div>
                <!--/.container-->
            </nav>
        </div>
        <!--Mobile-menu-->
        <ul class="side-nav hide-on-large-only grey darken-2 section table-of-contents" id="mobile-menu">
            <li><a href="#hello">Hello</a>
            </li>
            <li><a href="#about">About</a>
            </li>
            <li><a href="#service">Services</a>
            </li>
            <li><a href="#portfolio">Portfolio</a>
            </li>
            <li><a href="#team">Team</a>
            </li>
            <li><a href="#blog">Blog</a>
            </li>
            <li><a href="#contact">Contact</a>
            </li>
        </ul>
        <!--/.navbar-fixed-->
        <section class="slogan-section">
            <div class="container">
                <div class="row">
                    <!--                    <div class="col m6 offset-m3">-->
                    <div class="slogan white-text center">
                        <h1>We Are Code Cafe</h1>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
                        <a href="#" class="white-text"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    </div>
                    <!--                    </div>-->
                </div>
            </div>
        </section>
        <!--/.slogan-section-->
    </header>
    <section id="about" class="details section scrollspy">
        <div class="container">
            <div class="row">
                <div class="col s12 center">
                    <div class="about-bouncy">
                        <h3>Details About Bouncy</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <div class="bouncy-icon">
                            <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <p class="ideas">Creative Ideas</p>
                </div>
                <div class="col m5">
                    <p class="ideas-content">
                        At
                        <mark>vero</mark>eos et accusamus et iusto odio dignissimos <b>ducimus</b> qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
                    </p>
                </div>
                <div class="col m7">
                    <p class="ideas-content">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <b>corrupti quos</b> dolores et quas molestias
                        <mark>excepturi</mark>sint occaecati cupiditate non provident, <b>similique</b> sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem r
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="feature-project">
        <div class="container">
            <div class="row">
                <div class="col s12 feature-head">
                    <div class="projects center">
                        <h4>Featured Projects</h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                    </div>
                </div>
            </div>
        </div>   
            <div class="row">
                <div class="col m6 s12 feature" style="background-image:url(images/feature_1.jpg)">
<!--                    <img src="images/feature_1.jpg" alt="feature_1" class="responsive-img">-->
                    <div class="details-project">
                        <p>Whiskey</p>
                    </div>
                </div>
                <div class="col m3 s6 feature" style="background-image:url(images/feature_2.jpg)">
<!--                    <img src="images/feature_2.jpg" alt="feature2" class="responsive-img">-->
                    <div class="details-project">
                        <p>Vintage</p>
                    </div>
                </div>
                <div class="col m3 s6 feature" style="background-image:url(images/feature_3.jpg)">
<!--                    <img src="images/feature_3.jpg" alt="feature3" class="responsive-img">-->
                    <div class="details-project">
                        <p>Branding</p>
                    </div>
                </div>
            </div>
        <div class="feature-footer">
            <div class="container">
                <div class="row center">
                    <div class="col m9 s12">
                        <p>At vero eos et <b>accusamus</b> et iusto odio dignissimos ducimus qui blanditiis</p>
                    </div>
                    <div class="col m3 s12">
                        <button class="waves-effect btn btn-submit">Submit Now</button>
                    </div>
                </div>
            </div>
        </div>            
    </section>
    <section id="service" class="our-service section scrollspy">
        <div class="container">
            <div class="row">
                <div class="col s12 service-head center">
                    <h3>Our Services</h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                </div>
            </div>
            <div class="row">
                <div class="col m1">
                    <div class="service-icon">
                        <span><i class="fa fa-wrench" aria-hidden="true"></i></span>
                        <span><i class="fa fa-wrench" aria-hidden="true"></i></span>
                        <span><i class="fa fa-wrench" aria-hidden="true"></i></span>
                        <span><i class="fa fa-wrench" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="col m5 ">
                    <p><span>Graphic Design</span>
                    </p>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti</p>
                    <p>quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                </div>
                <div class="col m6 skills">
                    <div class="service-skills center">
                        <img src="images/skil_1.jpg" alt="branding" class="responsive-img">
                        <p class="snippet">Branding</p>
                    </div>
                    <div class="service-skills center">
                        <img src="images/skil_2.jpg" alt="branding" class="responsive-img">
                        <p class="snippet">Web Design</p>
                    </div>
                    <div class="service-skills center">
                        <img src="images/skil_3.jpg" alt="branding" class="responsive-img">
                        <p class="snippet">UI/UX</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" class="portfolio section scrollspy">
        <div class="container">
            <div class="row portfolio-head ">
                <div class="col m6 center offset-m3">
                    <h3>The Portfolio</h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                </div>
            </div>
            <div class="row portfolio-menu">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab" ><a href="#test1" class="active">All Works</a>
                        </li>
                        <li class="tab"><a href="#test3">Identity</a>
                        </li>
                        <li class="tab"><a href="#test4">Branding</a>
                        </li>
                        <li class="tab"><a href="#test4">Web</a>
                        </li>
                        <li class="tab"><a href="#test4">HTML</a>
                        </li>
                        <li class="tab"><a href="#test4">Wordpress</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row works">
                <div class="col m3 s6">
                    <div class="work">
                        <img src="images/work_1.jpg" alt="work1" class="responsive-img">
                        <div class="work-title">
                            <h5>Title Here</h5>
                            <p class="title-snippet">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                            <p class="work-link">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="work">
                        <img src="images/work_2.jpg" alt="work2" class="responsive-img">
                        <div class="work-title">
                            <h5>Title Here</h5>
                            <p class="title-snippet">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                            <p class="work-link">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="work">
                        <img src="images/work_3.jpg" alt="work3" class="responsive-img">
                        <div class="work-title">
                            <h5>Title Here</h5>
                            <p class="title-snippet">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                            <p class="work-link">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col m3 s6">
                    <div class="work">
                        <img src="images/work_4.jpg" alt="work4" class="responsive-img">
                        <div class="work-title">
                            <h5>Title Here</h5>
                            <p class="title-snippet">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                            <p class="work-link">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="work">
                        <img src="images/work_5.jpg" alt="work5" class="responsive-img">
                        <div class="work-title">
                            <h5>Title Here</h5>
                            <p class="title-snippet">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                            <p class="work-link">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="work">
                        <img src="images/work_6.jpg" alt="work6" class="responsive-img">
                        <div class="work-title">
                            <h5>Title Here</h5>
                            <p class="title-snippet">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                            <p class="work-link">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col m3 s6 clear">
                    <div class="work">
                        <img src="images/work_7.jpg" alt="work7" class="responsive-img">
                        <div class="work-title">
                            <h5>Title Here</h5>
                            <p class="title-snippet">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                            <p class="work-link">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="work">
                        <img src="images/work_8.jpg" alt="work8" class="responsive-img">
                        <div class="work-title">
                            <h5>Title Here</h5>
                            <p class="title-snippet">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                            <p class="work-link">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="work">
                        <img src="images/work_9.jpg" alt="work9" class="responsive-img">
                        <div class="work-title">
                            <h5>Title Here</h5>
                            <p class="title-snippet">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                            <p class="work-link">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col m3 s6">
                    <div class="work">
                        <img src="images/work_10.jpg" alt="work10" class="responsive-img">
                        <div class="work-title">
                            <h5>Title Here</h5>
                            <p class="title-snippet">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                            <p class="work-link">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="work">
                        <img src="images/work_11.jpg" alt="work11" class="responsive-img">
                        <div class="work-title">
                            <h5>Title Here</h5>
                            <p class="title-snippet">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                            <p class="work-link">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="work">
                        <img src="images/work_12.jpg" alt="work12" class="responsive-img">
                        <div class="work-title">
                            <h5>Title Here</h5>
                            <p class="title-snippet">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                            <p class="work-link">
                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row portfolio-footer center white-text">
                <p>At vero eos et accusamus et iusto odio <b>dignissimos</b> ducimus qui blanditiis</p>
                <div>
                    <button class="btn waves-effect">Start Project</button>
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="team section scrollspy">
        <div class="container">
            <div class="row">
                <div class="col col m6 offset-m3 team-head center">
                    <h3>The Team</h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                </div>
            </div>
            <div class="row">
                <div class="carousel carousel-slider" data-indicators="true">
                    <div class="carousel-item" id="#one!">
                        <div class="person">
                            <div class="person-img">
                            <img src="images/team_person.jpg" alt="person">
                            </div>
                            <div class="person-skills">
                                <strong>Abdullah Noman</strong>
                                <span class="status">Creative Director, code cafe</span>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                                <div class="skills-status">
                                    <p><span>Branding</span><span>80%</span></p>
                                    <div class="progress">
                                        <div class="determinate" style="width: 70%"></div>
                                    </div>
                                </div>
                                <div class="skills-status">
                                    <p><span>Web Design</span><span>65%</span></p>
                                    <div class="progress">
                                        <div class="determinate" style="width: 65%"></div>
                                    </div>
                                </div>
                                <div class="skills-status">
                                    <p><span>User Interface</span><span>75%</span></p>
                                    <div class="progress">
                                        <div class="determinate" style="width: 75%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" id="#two!">
                        <div class="person">
                            <div class="person-img">
                            <img src="images/team_person.jpg" alt="person" >
                            </div>
                            <div class="person-skills">
                                <strong>Abdullah Noman</strong>
                                <span class="status">Creative Director, code cafe</span>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                                <div class="skills-status">
                                    <p><span>Branding</span><span>80%</span></p>
                                    <div class="progress">
                                        <div class="determinate" style="width: 70%"></div>
                                    </div>
                                </div>
                                <div class="skills-status">
                                    <p><span>Web Design</span><span>65%</span></p>
                                    <div class="progress">
                                        <div class="determinate" style="width: 65%"></div>
                                    </div>
                                </div>
                                <div class="skills-status">
                                    <p><span>User Interface</span><span>75%</span></p>
                                    <div class="progress">
                                        <div class="determinate" style="width: 75%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" id="#three!">
                        <div class="person">
                            <div class="person-img">
                            <img src="images/team_person.jpg" alt="person" >
                            </div>
                            <div class="person-skills">
                                <strong>Abdullah Noman</strong>
                                <span class="status">Creative Director, code cafe</span>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                                <div class="skills-status">
                                    <p><span>Branding</span><span>80%</span></p>
                                    <div class="progress">
                                        <div class="determinate" style="width: 70%"></div>
                                    </div>
                                </div>
                                <div class="skills-status">
                                    <p><span>Web Design</span><span>65%</span></p>
                                    <div class="progress">
                                        <div class="determinate" style="width: 65%"></div>
                                    </div>
                                </div>
                                <div class="skills-status">
                                    <p><span>User Interface</span><span>75%</span></p>
                                    <div class="progress">
                                        <div class="determinate" style="width: 75%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
            </div>
        </div>              
    </section>
    <section id="blog" class="subscribe section scrollspy">
        <div class="container">
            <div class="row">
                <form class="col m6 offset-m3" novalidate>
                    <div class="row">
                        <div class="input-field col m8">
                            <input id="email" type="email" placeholder="Email Address">
                        </div>
                        <div class="input-field col m4">
                            <button class="waves-effect teal accent-3 btn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section id="contact" class="contact section scrollspy" data-ng-controller="bouncyCtrl" data-ng-cloak>
        <div class="container">
            <div class="row">
                <form action="test.php" name="userDetails" novalidate data-ng-submit="user(userInfo)">
                    <div class="col m4 s12">
                    <div class="input-field">
                        <input type="text" name="name" placeholder="Your name" required data-ng-model="userInfo.name">
                        <span class="show-massage" data-ng-show="userDetails.name.$invalid && userDetails.name.$dirty">     {{validateInputField(userDetails.name.$error)}}
                        </span>
                    </div>
                    </div>
                    <div class="col m4 s12">
                        <div class="input-field">
                            <input type="email" name="email" placeholder="Email address" required data-ng-model="userInfo.email">
                            <span class="show-massage" data-ng-show="userDetails.email.$invalid && userDetails.email.$dirty">
                                {{validateInputField(userDetails.email.$error)}}
                            </span>
                        </div>
                    </div>
                    <div class="col m4 s12">
                        <div class="input-field">
                            <input type="text" name="subject" placeholder="Subject" required data-ng-model="userInfo.bubject">
                            <span class="show-massage" data-ng-show="userDetails.subject.$invalid && userDetails.subject.$dirty">          {{validateInputField(userDetails.subject.$error)}}
                            </span>
                        </div>
                    </div>
                    <div class="col s12">
                        <textarea class="materialize-textarea" placeholder="Type massage here..."  data-ng-model="userInfo.massage"></textarea>
                    </div>
                    <div class="col s12">
                        <div class="input-field">
                            <button type="submit" class="waves-effect teal accent-3 btn btn-block" data-ng-disabled="userDetails.$invalid">Submit Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="map-section">
            <div class="map" id="map"></div>
            <div class="find-us-on-map" data-ng-click="showMap($event)">
                <a href="#">Find Us On The Map <i class="fa fa-angle-down" aria-hidden="true"></i></a>
            </div>
        </div>
        
    </section>
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col s12 center">
                    <div class="logo-footer">
                         <h2><a href="#">Bouncy</a></h2>
                    </div> 
                    <p class="copyright">Copyright 2017. All right Reserved</p>
                    <div class="social-link">
                        <a href="#" class="waves-effect btn"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" class="waves-effect btn"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" class="waves-effect btn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#" class="waves-effect btn"><i class="fa fa-vk" aria-hidden="true"></i></a>
                        <a href="#" class="waves-effect btn">
                            <i class="fa fa-stack-overflow" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    
    
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="libs/materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="libs/angular/angular.min.js"></script>
    <script src="js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5_YQ1vNJDAqStmYZ2vaRKtm5BBKROXWs&callback=bouncyMap"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script src="js/controller.js"></script>
</body>

</html>